form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.form-container{
    display: flex;
    flex-direction: column;
}
form input{
    padding: 5px;
}
.form-container .form-options{
    margin: 0;
}
form button{
    height: 60px;
    width: 100px;
    background-color: var(--mainColor);
    color: white;
}
.card{
   height: 300px;
   
   
}
.chart-image{
    width: 70px;
}

 .card-img-top{
    height: 150px;
}
.add-to-cart-button{
    background-color: var(--mainColor);
    margin-left: 20%;
}
.offcanvas{
    width: 30%;
    margin: auto;
    
    height: 60vh;
    background-color: white;
    box-shadow: 0px 0px 3px 1px #656665;
}
.offcanvas-header{
    background-color: var(--mainColor);
}
.form-label{
    color: var(--mainColor);
}

.btn{
    background-color: var(--mainColor);
    color: white;
}