@media(max-width: 720px)
{
   .welcome-container .home-paragraphs{
    font-size: 23px;
   }
   main .welcome-container button{
    width: 250px;
    height: 40px;
    font-size: 20px;

   }
   
   header .nav-links a{
    font-size: 14px;
    margin: 5px;
   }
   header .logo img{
    width: 100px;
    height: 50px;
   }
   header .log button{
    width: 80px;
    height: 30px;
    font-size: 15px;
   }
}